:root {
    /* color primany */
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);

    /* color neurtal */
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);

    /* font */
    --ff-body: 'League Spartan', sans-serif;
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /* others */
    --transition: 500ms ease;
    --gap: 2rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: 
        url('../images/bg-pattern-top-mobile.svg'), 
        url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: left top, right bottom;
    background-size: contain, auto;
    font-family: var(--ff-body);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

main {
    width: 375px;
    margin: 0 auto;
    padding: 4rem 1.5rem;
    display: grid;
    grid-gap: 3rem;
    transition: var(--transition);
}

/* -- HEADING SECTION -- */
.intro {
    text-align: center;
    transition: var(--transition);
}

.intro h1 {
    font-size: clamp(2.50rem, calc(2.14rem + 1.55vw), 3.25rem);;
    font-weight: var(--fw-700);
    color: var(--Very-Dark-Magenta);
    margin-bottom: 0.5em;
}

.intro .lead {
    font-size: 1.09rem;
    font-weight: var(--fw-500);
    color: var(--Dark-Grayish-Magenta);
    line-height: 1.3;
}

/* -- RATED SECTION -- */
.rates {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: var(--transition);
}

.rate {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    font-weight: var(--fw-700);
    padding-block: 1rem;
    border-radius: 8px;
    color: var(--Very-Dark-Magenta);
    background-color: var(--Light-Grayish-Magenta);
}

.rate-star {
    display: flex;
    gap: 0.5rem;
}

/* -- REVIEW SECTION -- */
.reviews {
    display: grid;
    grid-gap: 1rem;
    transition: var(--transition);
}

.review {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    font-size: 1rem;
    font-weight: var(--fw-500);
    line-height: 1.3;
    border-radius: 10px;
    color: var(--White);
    background-color: var(--Very-Dark-Magenta);
    transition: var(--transition);
}

.review .reviewer-info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.review .reviewer-info img {
    width: 20%;
    border-radius: 50%;
}

.review .reviewer-name {
    display: flex;
    flex-direction: column;
}

.review .reviewer-name div:first-child {
    font-weight: var(--fw-700);
}

.review .reviewer-name div:last-child {
    font-weight: var(--fw-400);
    color: var(--Soft-Pink);
}


/* Desktop view */
@media screen and (min-width: 48em) {
    body {
        background-image: 
            url('../images/bg-pattern-top-desktop.svg'), 
            url('../images/bg-pattern-bottom-desktop.svg');
        background-size: contain, 80%;
    }

    main {
        width: min(100%, 1150px);
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 4rem 1rem;
    }

    .intro {
        grid-column: 1 / 2;
        text-align: left;
    }

    .rates {
        grid-column: 2 / -1;
    }

    .rate {
        flex-direction: row;
        align-items: center;
        justify-content: start;
        gap: 2rem;
        padding-inline: 2rem;
    }

    .reviews {
        grid-column: 1 / -1;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.5rem;
    }

    .review {
        padding: 2.25rem;
    }
}

@media screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 28vh;
    }

    .intro, .rate {
        width: 80%;
    }

    :is(.rate, .review):nth-child(1) {
        align-self: start;
    }

    :is(.rate, .review):nth-child(2) {
        align-self: center;
    }

    :is(.rate, .review):nth-child(3) {
        align-self: end;
    }
}


